body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:94px;
  width:114px;
  height:45px;
  display:flex;
  font-size:40px;
}
#u646 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u646_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#7F7F7F;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:151px;
  width:201px;
  height:34px;
  display:flex;
  font-size:30px;
  color:#7F7F7F;
}
#u647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u647_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#7F7F7F;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:237px;
  width:171px;
  height:34px;
  display:flex;
  font-size:30px;
  color:#7F7F7F;
}
#u648 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u648_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#7F7F7F;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:195px;
  width:171px;
  height:34px;
  display:flex;
  font-size:30px;
  color:#7F7F7F;
}
#u649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u649_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
